
<!-- uppercase/loweracse pipe -->
{{title | uppercase}}
<br>
<!-- number pipe to put a comma between number -->
{{count | number}}
<br>
<!-- to reduce decimal to 2 digits after decimal. we can round, also add a 0 infront of the 3 by saying 2 in the beginning -->
{{decimal | number: '1.2-2'}}
<br>
<!-- currency pipe, we can pass diff codes as arguments to change symbol -->
<!-- false to see the code, true to see the symbol -->
{{price | currency: "JPY" : false : '2.1-1'}}
<br>
<!-- short for date and time, shortDate for only the date 4/17/23 -->
{{today | date: 'shortDate'}}

<!-- turn into json data -->
<p>{{postObject | json}}</p>

<!-- percentage pipe converts this decimal to a percent multiples by 100 and gives up percentage so if 5% its 5 * 100 = 500% -->
<h3>{{0.567 | percent}}</h3>


<!-- slice Pipe -->
<!-- slice 0:2 is from 0 to 2 -->

<h3>{{postArray | slice: 0:2}}</h3>

<!-- custom pipe -->

<h3>{{userDetails.city | appendCLI}}</h3>
<!-- dynamic way of messing with the length and using second argument -->

<p>{{dummyText | summary:3}}</p>